@import 'reusables/variables.scss';

:root {
  color-scheme: light dark;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: atialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@media (prefers-color-scheme: light) {
  :root {
    color: $general-text-color;
    background-color: $backgroud-gray;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: $general-text-color;
    background-color: $backgroud-gray;
  }
}